p{  
    margin-top: 0;
    margin-bottom: 0;
}
body{
    font-family: 'Roboto' , 'Arial';
    margin: 0;
    padding: 80px 24px 80px 96px;
    background-color: rgb(255, 255, 255);
   
}
a{
    text-decoration: none;
    color: #000;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #90909081; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #909090; 
  }