.sidebar{
    position: fixed;
    top: 57px;
    left: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    width: 72px;
    z-index: 200;
    padding-top: 5px;
}

.sidebar-link{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.sidebar-link:hover{
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
}

.sidebar-link:active{
    background-color: rgb(230, 230, 230);
    border-radius: 0px;

}


.sidebar-link img{
    height: 28px;
    margin-bottom: 4px;
}

.sidebar-link div{
    font-size: 10px;
}