.comment-container{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(231, 231, 231);
    color: black;
    border-radius: 10px;
    flex: 1;
}

.top-section{
    display: flex;
    gap: 20px;
    padding: 10px;
}

.post-comment{
display: flex;
align-items: center;
gap: 20px;
}
.user-pic{
    width: 55px;
    margin-left: 9px;
}

.user-picture-comment{
    vertical-align: top;
    width: 55px;
    margin-left: 9px;
    margin-top: 8px;
}


.profile-pic-comment{
    width: 100%;
    border-radius: 50%;
}
.input-comment{
    display: inline-block;
    flex: 1;
}

.input-comment input{
    padding: 10px;
    outline: none;
    border:none;
    background: none;
    width: 95%;
    color: black;
}

.input-comment .text-input-comment{
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    transition: border-bottom 0.15s;
   
}
.input-comment input:focus{
    border-bottom: 1px solid #000000;
}

.btn-below{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-right: 50px;
}

.btn-below button{
    background: none;
    color: black;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
}

.btn-below i{
    cursor: pointer;
    border-radius: 10px;
}

.btn-below i:hover{
    background-color: rgba(0, 0, 0, 0.76);
    color: white;
   
}

.btn-below button:hover{
   background-color: rgba(7, 7, 7, 0.3);
   color:#FFF;
}

.users-comment-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-comment{
    display: flex;
    gap: 20px;
}
.comment{
    flex: 1;
    padding: 8px 0px;
}
.user-pic-comment{
    width: 100%;
    border-radius: 50%;
}
.container-user-comment{
    position: relative;
    margin-top: 1px;
    padding: 5px;
}
.user-account{
    display: flex;
    gap: 7px;
}

.actions-comment{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    padding: 10px;
}
.actions-comment button{
background:transparent;
color: white;
border: none;
cursor: pointer;
font-size: 14px;
color: #000;
}
.actions-comment .fa.fa-thumbs-up,
.actions-comment .fa.fa-thumbs-down
{
    font-size: 15px;
    padding: 10px;
 
}

.icon-replay-comment button{
    font-size: 14px;
    padding: 10px;
}

.actions-comment .fa.fa-thumbs-up:hover,
.actions-comment .fa.fa-thumbs-down:hover,
.icon-replay-comment button:hover
{
    background-color: rgba(7, 7, 7, 0.3);
border-radius: 20px;
color: white;

}

.icon-list-comment{
    position: absolute;
    top: 2px;
    right: 15px;
    background:none;
    cursor: pointer;
}