.right-section-video{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.suggestions-container{
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
}

.suggestions-container
.suggestion-two,
.suggestion-tree,
.suggestion-fourth,
.suggestion-five,
.suggestion-six{
    background-color: #f2f2f2;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.suggestions-container 
.suggestion-two:hover,
.suggestion-tree:hover,
.suggestion-fourth:hover,
.suggestion-five:hover,
.suggestion-six:hover{
    background-color: rgb(229, 229, 229);
}

.suggestions-container .suggestion-all{
    background-color: rgb(3, 3, 3);
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.suggestions-container .suggestion-all:hover{
    background-color: rgba(3, 3, 3, 0.9);
}

.icon-arrow-right{
    padding: 10px 5px;
    cursor: pointer;
    position: absolute;
    right: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: -20px 1px 4px rgba(255, 255, 255, 0.99);
}
.fa-angle-right{
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 28px;
}

.icon-arrow-right .fa-angle-right:hover{
    background: rgb(229, 229, 229);

}
.icon-arrow-right .fa-angle-right:active{
    background: #cecece;

}



.row{
    display: flex;
    cursor: pointer;
    position: relative;
    flex: 1;
}

.thumbnails-video{
    width: 200px;
}

.thumbnails-video img{
    width: 100%;
    border-radius: 8px;
}

.video-info-right{
    color: black;
    width: 300px;
    display: inline-block;
}

.video-title-right{
    padding-left: 10px;
    margin-top: 7px;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    
}

.video-author-right{
    padding-left: 10px;
    margin-top: 7px;
    font-size: 12px;
    font-weight: 500;
}

.video-stats-right{
    padding-left: 10px;
    margin-top: 2px;
    font-size: 11px;
    font-weight: 500;
}

.icon-right{
    position: absolute;
    top: 7px;
    right: 15px;
    opacity: 0;
}

.row:hover .icon-right{
    opacity: 1;
}

.row:active{
    background-color:rgba(229, 229, 229, 1);
    border-radius: 8px;
}

