.video-flex{
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.video-view{
   flex: 1;
}

.video-thumbnail-row {
    position: relative;
}

.thumbnail-pic{
    position: relative;
    
}

.video-thumbnail{
    width: 100%;
}

.container-channel-user{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.video-time{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    position: absolute;
    bottom: 10px;
    right: 9px;
    font-size: 20px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 2px;
}

.video-info-flex{
    display: flex;
    align-items: center;
    gap: 10px;
}

.video-title{
    margin-top: 17px;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}
.channel-pic{
    width: 40px;
}

.profile-pic{
    width: 100%;
    border-radius: 50%;
    cursor: pointer;
}

.video-info .channel-name{
    color: black;
}

.subscribe-btn{
    display: flex;
    align-items: center;
    margin-left: 80px;
    border-radius: 20px;
    background-color: #efefef;
    padding: 10px;

}

.subscribe-btn button{
    background: none;
    border: none;
    color: black;
    font-size: 14px;
    cursor: pointer;
}
.subscribe-btn:hover{
    background: rgb(229, 229, 229);
}
.actions{
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.icon-like-dislike-container{
    display: flex;
    align-items: center;

}


.actions .btn-like{
    background-color: #efefef;
    padding: 10px 20px;
    border-radius: 15px 0px 0px 15px;
    color: #000;

}

.actions .btn-dislike{
    background-color: #efefef;
    padding: 10px 15px;
    border-radius: 0px 15px 15px 0px;
    color: #000;
}

.actions .btn-like:hover{
    background-color: #e5e5e5;
}

.actions .btn-dislike:hover{
    background-color: #e5e5e5;
}

.icon-share,
.icon-download,
.icon-clip,
.icon-save,
.icon-list,
.like-this,
.dislike-this{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  
}
.like-this .tooltip-video,
.dislike-this  .tooltip-video,
.icon-share .tooltip-video,
.icon-download .tooltip-video,
.icon-clip .tooltip-video,
.icon-save .tooltip-video{
    position: absolute;
    background-color: gray;
    color: #fff;
    padding: 4px 8px;
    bottom: -30px;
    border-radius: 5px;
    font-size: 12px;
    opacity: 0;
    transition:  opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
    z-index: 100;
}

.like-this:hover .tooltip-video,
.dislike-this:hover  .tooltip-video,
.icon-share:hover .tooltip-video,
.icon-download:hover .tooltip-video,
.icon-clip:hover .tooltip-video,
.icon-save:hover .tooltip-video
{
    opacity: 1;
}

.actions button{
    background-color: #efefef;
    border-radius: 20px;
    padding: 10px;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.actions button:hover{
    background-color: #e5e5e5;
} 

.actions button:active,
.actions .btn-dislike:active,
.actions .btn-like:active,
.subscribe-btn:active{
    background-color: #e5e5e542;
} 

.line-top{
    position: absolute;
    height: 20px;
    left: 81px;
}

.icon-list{
 height: 15px;
}

.video-description{
    height: 74px;
    background-color: #f2f2f2;
    border-radius: 10px;
    margin-top: 20px;
    color: #000;
    padding: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    flex: 1;
}

.video-description:hover{
    background-color: #e5e5e5;
}

.video-description p{
margin-top: 1px;
}


.video-play{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.712);
    font-size: 120px;
    cursor: pointer;
    color: rgb(199, 199, 199);
}

.video-play:active{
    background-color: rgba(0, 0, 0, 0.014);
}

.show-more{
    display: inline-block;
    position: absolute;
    bottom: 4px;
    left:320px;
    cursor: pointer;

}
